#  nu -c "COMANDO PARA TESTAR"
#  comando para IA ter acecsso a todas as urls de docs do site
#  http get --raw https://www.nushell.sh/sitemap.xml | from xml | get content | select content | flatten | flatten | where tag == loc | get content | flatten | each {|list| ($list.content)}